/* Estilos da página index.html */
body{
    background-color: #FCF7F8;
}
p {
    color: #191516;
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F28482;
    font-size: 4rem;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF9B54;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

/* Margin = espaço para fora, Padding = Espaço para dentro */
.paragrafo {
    background-color: #CC76A1;
    display: flex;
    padding: 50px;
    margin: 30px;
    border-radius: 2em;
}

.justify{
    text-align: justify;
}

.foto{
    width: 350px;
    aspect-ratio: 1; /* Sempre deixar em 1 para não quebrar em diferentes telas */
    border: 3px solid #FF9B54;
    border-radius: 50%; /* Arredondamento da borda */
    padding: 4px; /* Descola um pouco a imagem da borda */
    display: block;
    margin: 30px;

}

.menina{
    margin-left: 1000px;
}

#video{
    width: 70vw; /* Porcentagem é sempre relativa a quem está antes dele, uma div, por exemplo. O vw é com relação a tela*/
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block; /* Centraliza e bloqueia no meio da tela */
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav p {
    font-size: 1.5rem;
    font-weight: 800;
    color: #CC76A1;
    margin-left: 2rem;
  }

  nav p span {
    color: #62929E;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: flex-end;
  }

  nav a {
    color: #62929E;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 800;
    transition: color 0.5s;
  }

  /* efeitinho do menu, da barrinha indo da esquerda pra direita */
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #CC76A1;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.tm-social{
    width: 50px;
    padding: 10px;
}

.mb-50{
    margin-bottom: 50px;
    margin-top: 50px;
}




/* Estilos da página contato.html */

.formulario{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li{
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea{
    font-family: 1em Arial, Helvetica, sans-serif;
    width: 300px;
    box-sizing: unset;
    border: 1px solid #999;

}

input:focus, textarea:focus{
    border: #000;
}

textarea{
    vertical-align: top;
    height: 5em;
}

.button{
    padding-left: 90px;

}

button{
    margin-left: 0.5em;
    border-radius: 2em;
    border: 1em;
    background-color: #FF9B54;
}

.mapa{
    margin: 0 auto;
}